<div class="container">
  <h2>
    Choose a Question
  </h2>
  
  <div class="adjust_margin">
    <div id="questions_list">
      <%= render 'questions' %>
    </div>
    <div class="col-md-12 button">
      <%= link_to '<i class="glyphicon glyphicon-plus"></i> '.html_safe, new_question_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#new_question', :class => "btn btn-primary btn-sm pull-right", :id => 'add-question' }  %>
    </div>
  </div>
</div>
<div class="modal fade" id="answer">
  <div class="cust-modal-dialog">
    <div class="cust-modal-content">
      <div class="cust-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="cust-modal-body" id="answer-body"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="new_question">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add/Edit question</h4>
      </div>
      <div class="modal-body" id="form-renderer"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
